# summary20181017

1. `np.zeros(n)`中的常数是指的是列向量的行数，也就是说np.zeros生成的是列向量

---

2. `enumerate()`是python的内置函数，对于一个可迭代的（iterable）/可遍历的对象（如列表、字符串），enumerate将其组成一个索引序列，利用它可以同时获得索引和值

In [4]:
import numpy as np

U = np.array([[1,2,3,4],[3,4,5,6]])
for index,value in enumerate(U):
    print(index,'+',value)

0 + [1 2 3 4]
1 + [3 4 5 6]

---

3.对于一个df对象，取一个维度的values，默认是np.array

In [18]:
!wget http://labfile.oss.aliyuncs.com/courses/1081/course-9-syringa.csv

--2018-10-19 02:17:41--  http://labfile.oss.aliyuncs.com/courses/1081/course-9-syringa.csv
Resolving labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)... 118.178.161.16
Connecting to labfile.oss.aliyuncs.com (labfile.oss.aliyuncs.com)|118.178.161.16|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3899 (3.8K) [text/csv]
Saving to: ‘course-9-syringa.csv.1’

course-9-syringa.cs 100%[===================>]   3.81K  --.-KB/s    in 0s

2018-10-19 02:17:41 (65.0 MB/s) - ‘course-9-syringa.csv.1’ saved [3899/3899]

In [20]:
import pandas as pd
data = pd.read_csv('course-9-syringa.csv')
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width  labels
0           5.1          3.5           2.4          2.1  daphne
1           4.9          3.0           2.7          1.7  daphne
2           4.7          3.2           2.2          1.4  daphne
3           4.6          3.1           1.6          1.7  daphne
4           5.0          3.6           1.6          1.4  daphne

In [25]:
sepal_length = data['sepal_length'].values
sepal_length

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.6,  5. ,  4.4,  4.9,  5.4,
        4.8,  4.8,  4.3,  5.8,  5.7,  5.4,  5.1,  5.7,  5.1,  5.4,  5.1,
        4.6,  5.1,  4.8,  5. ,  5. ,  5.2,  5.2,  4.7,  4.8,  5.4,  5.2,
        5.5,  4.9,  5. ,  5.5,  4.9,  4.4,  5.1,  5. ,  4.5,  4.4,  5. ,
        5.1,  4.8,  5.1,  4.6,  5.3,  5. ,  7. ,  6.4,  6.9,  5.5,  6.5,
        5.7,  6.3,  4.9,  6.6,  5.2,  5. ,  5.9,  6. ,  6.1,  5.6,  6.7,
        5.6,  5.8,  6.2,  5.6,  5.9,  6.1,  6.3,  6.1,  6.4,  6.6,  6.8,
        6.7,  6. ,  5.7,  5.5,  5.5,  5.8,  6. ,  5.4,  6. ,  6.7,  6.3,
        5.6,  5.5,  5.5,  6.1,  5.8,  5. ,  5.6,  5.7,  5.7,  6.2,  5.1,
        5.7,  5.9,  5.8,  6.3,  5.9,  6.1,  6.8,  4.2,  7. ,  5.7,  6.7,
        6.5,  6.1,  5.8,  5.1,  5.5,  6.3,  5.8,  7.5,  6.9,  6. ,  6.2,
        4.6,  7.3,  5.7,  6. ,  6.5,  5.3,  6.1,  5.9,  6.2,  6.7,  7.2,
        5.4,  5.5,  6.1,  6.8,  6. ,  5.5,  5.6,  6.4,  6.5,  6.7,  5.7,
        5.9,  6.7,  6.6,  5.4,  5.9,  5.4,  5.6])

---

4. 一维向量也要用`np.array(ndim=2)`来改写，即写成矩阵形式

In [30]:
list1 = [1,2,3,4,5,6]
l1 = np.array(list1,ndmin=2).T #转置成列向量
l1

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

---

5.对于array添加元素，可以先将np.array转为list

In [32]:
u = np.array([[1,2],[3,4]])
m = u.tolist()   #转换为list
m.remove(m[0])    #移除m[0]
m = np.array(m)    #转换为array

---